# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/


# =====================
# Data files
# =====================

data/raw/
data/GSE*.csv
data/*.txt

# GEO downloaded files
*.CEL
*.gz
*.tar


# =====================
# Machine Learning Models
# =====================

*.pkl
*.joblib


# =====================
# Results large files
# =====================

results/*.png
results/*.csv


# =====================
# Jupyter
# =====================

.ipynb_checkpoints/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db


# =====================
# Temporary
# =====================

*.log
*.tmp
# Raw datasets
data/*.txt
data/*.csv
data/raw/

# GEO annotation files
*.annot

# Software builds
archive/software_build/
build/
dist/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Models temporary
*.tmp